<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<system.serviceModel>
    <services>

      <service name="Group1Project.OperationService">
        
        
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8001/WebService" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>-->
</configuration>