<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Host.OperationService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8001/WebService" />
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:8001/WebService" binding="basicHttpBinding" contract="IService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="http://localhost:8002/WebService" binding="wsHttpBinding" contract="IService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="net.tcp://localhost:9000/WebService" binding="netTcpBinding" bindingConfiguration="tcpbinding" contract="IService"/>
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <bindings>
      <netTcpBinding>
        <binding name="tcpbinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="None"/>
            <message clientCredentialType="Windows"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>    
    <diagnostics performanceCounters="ServiceOnly">
      <messageLogging logEntireMessage="true" logKnownPii="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="500" maxSizeOfMessageToLog="2000">
        <filters>
          <!--
				 <add xmlns:s="http://schemas.xmlsoap.org/soap/envelope/">/s:Envelope/s:Body[contains(text(), "Hello")]</add>
				-->
          <!-- 
				<add nodeQuota="10" xmlns:soap="http://www.w3.org/2003/05/soap-envelope">/soap:Envelope/soap:Header</add>
				-->
        </filters>
      </messageLogging>
      <endToEndTracing activityTracing="true"/>
    </diagnostics>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source propagateActivity="true" name="System.ServiceModel.Tracing"
        switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add initializeData="C:\RAC\logs\Tracing1.svclog" type="System.Diagnostics.DefaultTraceListeners"
            name="Trace">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="Logging">
            <filter type="" />
          </add>
          <add initializeData="C:\RAC\logs\MessageLog.svclogs" type="System.Diagnostics.DefaultTraceListeners"
            name="message">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Warning, ActivityTracing"
        propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\RAC\logs\Tracing And Logging" type="System.Diagnostics.XmlWriterTraceListener"
        name="ServiceModel Message Logging Listener" traceOutputOptions="None">
        <filter type="" />
      </add>
      <add initializeData="C:\RAC\logs\app_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  
</configuration>